{% extends 'base.html' %}


{% block titles %}
    <title>{{heading}}</title>
{% endblock titles %}


{% block contents %}
    <br>
    <form method='POST'>
        {% csrf_token %}

            <div class="container">
                <div class="form-group">
                    {{formLogin.labels}}
                    {{formLogin}}
                </div>
            </div>
            <br>
            <div class="container">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        
        </div>


        
    </form>

{% endblock contents %}
    
    