{% extends 'base.html' %}


{% block titles %}
    <title>{{heading}}</title>
{% endblock titles %}
    

{% block contents %}
    
    <div class="container">
        <br>
        <h2>Tambah Smartphone</h2>
        <br>
        
        <form method="POST">
            {% csrf_token %}

            <div class="container">
                <div class="form-group">
                    {{form.label}}
                    {{form}}
                </div>
                

                <button class='btn btn-primary' type="submit">Submit</button>
            </div>
                
        </form>
    </div>

{% endblock contents %}
    